.Website {
    display: flex;
    width: 100%;
    height: 100vh;

    span {
        font-size: 18px;
    }

    .Btn {
        padding: 10px 20px;
        background: var(--color-primary);
        color: var(--color-1);
    }

    .Description {
        width: 30%;
        height: 100%;
        box-shadow: 1px 1px 10px #f5f5f5, -1px -1px 10px #f5f5f5;
        
        .Desc {
            padding: 10px;

            p {
                padding: 10px;
                text-align: justify;
            }
        }

        .Img-Des {
            width: 100%;
            height: 300px;
            overflow: hidden;
        }
    }

    .Cont {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .4rem;
        width: 70%;
        height: 100%;

        .Survey {
            padding: 10px;
            width: 80%;
            height: 80%;
            box-shadow: 1px 1px 10px #f5f5f5, 1px -1px 10px #f5f5f5;
            // border-radius: 5px;
            // border: 1px solid var(--color-2);

            .Head {
                margin-bottom: 40px;

                hr {
                    width: 100px;
                    height: 5px;
                    background: var(--color-3);
                }
            }

            .Body {
                margin-left: 10px;

                .Name-Survey {
                    font-size: 18px;
                }

                .Survey-Cont {
                    margin-bottom: 10px;

                    .Quest-Content {
                        display: flex;
                        flex-direction: column;
                        gap: 5px;
                        margin-top: 50px;

                        textarea {
                            outline: none;
                            border: none;
                            background: #f1f0f0;
                            border-radius: 5px;
                            padding: 10px;
                            width: 70%;
                            margin-bottom: 20px;
                            resize: none;
                        }
                    }
                }

                .Nav-Step {
                    display: flex;
                    gap: .4rem;
                }

            }
        }

        .Step-Cont {
            position: absolute;
            bottom: 50px;
            left: 100px;
            display: flex;
            gap: 10px;

            .Step, .Step-Active {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background: var(--color-1);
                box-shadow: 3px 3px 5px #f5f5f5, -3px -3px 5px #f5f5f5, -3px 3px 5px #f5f5f5, 3px -3px 5px #f5f5f5;

            }
            
            .Step-Active {
                background: var(--color-primary);
                color: var(--color-1);
            }

        }

        .Service {
            display: none;
            width: 50%;
            background: var(--color-1);
            border-radius: 10px;
        }
    }
}