.Sidebar,
.SidebarMin {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 229px;
    height: calc(100vh);
    border-radius: 5px;
    transition: 1s all;

    .User {
        display: flex;
        align-items: center;
        gap: 10px;
        height: 80px;
        width: 229px;
        border-radius: 5px;
        background: var(--color-primary);
        box-shadow: 2px 2px 3px var(--shadow-color), -2px -2px 3px var(--shadow-color);
        padding: 0 10px;
        cursor: pointer;
        transition: 1s all;
        overflow: hidden;

        .Avatar {
            display: flex;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            transition: 1s all;
            overflow: hidden;

            img {
                width: 100%;
                object-fit: cover;
            }
        }

        .InfoUser {
            display: flex;
            flex-direction: column;
            color: var(--color-1);
            transition: .3s;
            overflow: hidden;
        }
    }

    .IconText {
        font-size: 25px;
        color: var(--color-1);
        transition: .3s;
    }

    .Navigation {
        display: flex;
        flex-direction: column;
        gap: 2px;
        height: calc(100vh - 10.5rem);
        border-radius: 5px;
        background: var(--color-primary);
        box-shadow: 2px 2px 3px var(--shadow-color), -2px -2px 3px var(--shadow-color);
        overflow-x: hidden;

        a {
            color: var(--color-1);
            text-decoration: none;
            padding: 15px;
            padding-left: 40px;
            display: flex;
            gap: 5px;
            align-items: center;
            width: 229px;
            transition: .3s;
            overflow: hidden;

            &.LinkActive {
                background: var(--color-2);
                color: var(--color-3);
                font-weight: 500;
                position: relative;

                .IconText {
                    color: var(--color-3);
                }

                &::before {
                    width: 3px;
                    height: 20px;
                    background: var(--color-3);
                    position: absolute;
                    content: '';
                    left: 0;
                }
            }

            &.LinkActive2 {
                background: var(--color-2);
                color: var(--color-3);
                font-weight: 500;
                transition: .3s;

            }

            &:not(a.LinkActive):hover {
                background: var(--shadow-color);
            }

            i {
                margin-right: 20px;
                font-size: 20px;
                transition: .3s;
            }
        }

        .sousMenu {
            padding: 10px 5px;
            margin: 0 50px;
            color: var(--color-2);
            width: 100%;
            transition: .3s;

            &:hover {
                background: var(--shadow-color) !important;
                color: var(--color-2);
            }

            i {
                font-size: 16px;
            }

            span {
                font-size: 12px;
            }
        }
    }
}

.SidebarMin {
    width: 50px;

    .User {
        padding: 0px;
        padding-left: 5px;
        width: 50px;

        .IconText {
            display: none;
        }

        .Avatar {
            width: 40px;
            height: 40px;
        }

        .InfoUser {
            display: none;
        }

        .IconText {
            font-size: 15px;
        }
    }

    .Navigation {

        a {
            padding: 15px;
            padding-left: 15px;
        }

        .sousMenu {
            padding: 10px 5px;
            margin: 0 10px;

            span {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 1000px) {

    .Sidebar {
        width: 50px;

        .User {
            padding: 0px;
            padding-left: 5px;
            width: 50px;

            .IconText {
                display: none;
            }

            .Avatar {
                width: 40px;
                height: 40px;
            }

            .InfoUser {
                display: none;
            }

            .IconText {
                font-size: 15px;
            }
        }

        .Navigation {

            a {
                padding: 15px;
                padding-left: 15px;
            }

            .sousMenu {
                padding: 10px 5px;
                margin: 0 10px;

                span {
                    display: none;
                }
            }
        }
    }
}