:root {
  --color-primary: #006494;
  --color-primary-blur: #cc9697;
  --z-color-1: #171722;
  --z-color-2: #006494;
  --color-1: #fff;
  --color-2: #f1f1f1e1;
  --color-3: #000;
  --shadow-color: #d8d5d560;
}

* {
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.Navigation::-webkit-scrollbar,
.TBoxx::-webkit-scrollbar,
.Details::-webkit-scrollbar,
.Survey-Cont::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  border-radius: 10px;
  background: var(--color-2);
}


.Navigation::-webkit-scrollbar-track,
.TBoxx::-webkit-scrollbar-track,
.Details::-webkit-scrollbar-track,
.Survey-Cont::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  border-radius: 10px;
  background: var(--color-2);
}

.Navigation::-webkit-scrollbar-thumb,
.TBoxx::-webkit-scrollbar-thumb,
.details::-webkit-scrollbar-thumb,
.Survey-Cont::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  border: 3px solid var(--color-primary);
  border-radius: 10px;
}


.Btn {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 8px;
  outline: none;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.BTN {
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  font-size: 13px;
  padding: 6px 8px;
  outline: none;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.Success {
  background: #28a745;
  color: var(--color-1);
}

.Info {
  background: #31D2F2;
  color: var(--color-3);
}

.Primary {
  background: #0B5ED7;
  color: var(--color-1);
}

.Secondary {
  background: #5C676A;
  color: var(--color-1);
}

.Error {
  background: #9e1515;
  color: var(--color-1);
}

.Danger {
  background: #BB2D3B;
  color: var(--color-1);
}

.Warning{
  background: #FFCA2C;
  color: var(--color-3);
}  

.Succes{
  background: #157547;
  color: var(--color-1);
}

/* .Success-Light {
  background: #e6fcd9;
}
.Error-Light {
  background: #fcdad9;
} */

h2 {
  font-size: 40px;
}

h5 {
  font-weight: 500;
}

span, td {
  font-size: 13px;
}

small {
  font-size: 12px;
}

label {
  font-size: 13px;
}

select {
  padding: 2px;
  border-radius: 5px;
  border-color: var(--color-2);
  outline: none;
}

.Pages {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  /* background: var(--color-2); */
}

.Main {
  display: flex;
  margin-top: 4rem;
  padding: .5rem;
  height: 100vh;
}

.Content, .ContentMax {
  position: relative;
  width: calc(100% - 230px);
  left: 230px;
  padding-left: .5rem;
  border-radius: 5px;
  transition: 1s all;
}

.ContentMax {
  width: calc(100% - 50px);
  left: 50px;
}

/* Responsive================================================== */
@media screen and (max-width: 1240px) {
  h2 {
    font-size: 25px;
  }

  h5 {
    font-weight: 500;
  }

  span, td {
    font-size: 12px;
  }

  small {
    font-size: 11px;
  }

  label {
    font-size: 12px;
  }

  .Btn {
    font-size: 12px;
  }

}

@media screen and (max-width: 1000px) {
  .Content, .ContentMax {
    width: calc(100% - 50px);
    left: 50px;
  }

  .ContentMax {
    width: calc(100% - 50px);
    left: 50px;
  }
}


@media screen and (max-width: 1000px) {
  .Btn {
    padding: 8px 5px;
  }
}

@media screen and (max-width: 645px) {
  h2 {
    font-size: 15px;
  }

  h3 {
    font-size: 13px;
  }

  h5 {
    font-size: 11px;
  }

  span, td {
    font-size: 10px;
  }

  small {
    font-size: 11px;
  }

  label {
    font-size: 10px;
  }

  input {
    font-size: 10px;
  }
}

.filtre {
  /* background-color: #cc9697; */
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  /* box-shadow: 9px 2px 4px #dedee4; */
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.profil {
  background-color: #2ba2aa;
  border-radius: 5px;
  /* padding: 12px 0px 0.5px 0px; */
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #2f84bd;
  font-size: 20px;
}

.input {
  padding: 1px;
  border-radius: 5px;
  border: #2f84bd 1px solid;

}

.search {
  outline: none;
  border: #2f84bd 1px solid;
}

.statut {
  background-color: #d8d5d560;
  padding: 2px 5px 0px 5px;
  border-radius: 5px;
}

.image {
  border-radius: 50%;
}

/* forn-control */
.form-control:focus {
  outline: none;
  box-shadow: none;
}

.update_profil {
  font-weight: bold;
  margin-top: 10px;
}

.title_profil {
  font-size: 20px;
  color: var(--color-primary);
  font-weight: bold;
}


.monprofil {
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: grid;
  padding: 10px;
  background-color: #f1f0f0;
}


.bouton {
  display: flex;
}

.annuler {
  margin-right: 7px;
}

/* bouton d'importation */
.input-file {
  display: none;
}

/* Style du bouton personnalisé */
.custom-file-upload {
  display: inline-block;
  padding: 5px 12px;
  cursor: pointer;
  background-color: #8dc1ca;
  color: #000;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.custom-file-upload:hover {
  background-color:var(--color-primary);
  color: #ffff;
}

.upload {
  margin-left: 40%;
  font-size: 20px;
}

.nomEntreprise {
  margin-left: 20px;
}

.email_en {
  font-size: 12px;
  margin-left: 7px;
  color: maroon;
}

/* .password-input {
  padding-right: 30px;
} */


/* retirer les focus-outline sur les input de bootstrap */
input.form-control.no-focus-outline:focus,
input.form-control.no-focus-outline:active {
  outline: none;
  box-shadow: none;
}

/* retirer les focus-outline sur les select de bootstrap */
select.form-select.no-focus-outline:focus,
select.form-select.no-focus-outline:active {
  outline: none;
  box-shadow: none;
}

/* data-table */
.custom-data-table {
  border: 1px solid #ccc;
}

/**/

.taille_etoile {
  font-size: 18px;
}

.input-personnaliser {
  padding: 10px;
  font-size: 10px;
  line-height: 1;
  background-color: #28a745;
  color: #9e1515;
}

/* modal */
.modalTitle {
  background-color: var(--z-color-2);
}

.email_en {
  font-size: 15px;
}

.select_company {
  margin-top: 6px;
  text-align: left;
}

.select_company:hover {
  transition: background-color 0.3s ease, width 0.5s linear, opacity 1s ease-in-out;
  color: #9c3b3b;
}

.input_size {
  font-size: 90px;
}

.texaria {
  font-size: 14px;
}

label {
  font-size: 14px;
}

input {
  font-size: 14px;
}

.texaria:focus {
  outline: none;
}

.lien1{
  cursor: pointer;
}
.lien2{
  cursor: pointer;
}