.Pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    border-radius: 5px;

    .Show {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .Vh {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 10px;

        .pagination-content {
            display: flex;
            gap: 5px;

            .page-item {
                list-style: none;
                display: flex;
                justify-content: center;
                align-items: center;
                // border: 3px solid var(--btn-color-hover);

                .page-link {
                    display: flex;
                    color: var(--color-2);
                    text-decoration: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 25px;
                    width: 25px;
                    background: var(--z-color-2);
                    border-radius: 2px;
                    font-size: 12px;
                    cursor: pointer;

                    &:hover {
                        background: var(--color-primary);
                        color: var(--color-1);
                    }
                }

                .active {
                    background: var(--btn-color-hover) !important;
                }
            }

        }

        #OptionBoxClass {
            border: none;
            outline: none;
            padding: 5px;
            background: var(--color-2);
            border-radius: 2px;
        }
    }
}