.Login {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100vh;
    width: 100%;
    background: #fcfcfc;
    overflow: hidden;

    .Container {
        display: flex;
        height: 80%;
        width: 80%;
        border-radius: 4px;
        background: var(--color-1);
        overflow: hidden;
        box-shadow: .1px .1px 1px rgb(185, 26, 26);

        .Left {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 60%;
            overflow: hidden;
            background-image: linear-gradient(rgba(255, 0, 0, 0.692),black),url('../../assets/images/cover_login.jpg');
            color: var(--color-1);
            background-size: cover;
            padding: 0 10px;
            text-align: center;

            h1 {
                text-transform: capitalize;
            }

            span {
                position: absolute;
                bottom: 10px;

                a {
                    color: var(--color-1);
                }
            }
        }

        .Right {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 40%;
            padding: 0 30px;

            p {
                font-size: 14px;

                &:last-child {
                    margin-top: 30px;
                    text-align: center;
                    font-weight: 500;
                }
            }

            a {
                color: var(--color-6);
            }

            .Form {
                display: flex;
                flex-direction: column;
                text-align: center;
                height: auto;
                gap: 20px;

                .Logo {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    img {
                        margin: auto;
                        width: 20%;
                    }

                    span {
                        text-transform: uppercase;
                    }
                }

                h2 {
                    color: var(--color-primary);
                    font-size: 30px;
                }

                .InputBox {
                    display: flex;
                    align-items: center;
                    border-bottom: 1px solid #00000027;
                    gap: 5px;

                    .Icon {
                        display: none;
                        align-items: center;
                        justify-content: center;
                        width: 30px;
                        height: 30px;
                        border-radius: 2px;
                        background: var(--color-primary);
                        color: var(--color-1);
                    }

                    input {
                        padding: 15px;
                        width: 100%;
                        border: none;
                        outline: none;
                    }

                    &:last-child {
                        margin-top: 10px;
                        input {
                            width: 100%;
                            background: var(--color-primary);
                            color: var(--color-1);
                            font-weight: 600;
                            border: none;
                            border-radius: 2px;
                            transition: 1s;

                            &:hover {
                                transform: translateY(15px);
                                cursor: pointer;
                                transition: 1s;
                            }
                        }

                        button {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 10px;
                            padding: 15px;
                            width: 100%;
                            border: none;
                            outline: none;
                            box-shadow: -5px 5px 5px #ababadbd;
                            background: var(--color-primary);
                            color: var(--color-2);
                        }
                    }
                }
            }
        }

    }

    // RESPONSIVE============================
    @media screen and (max-width: 1282px) {
        .Container {
            width: 85%;
        }
    }

    @media screen and (max-width: 817px) {
        .Container {
            flex-direction: column;
            width: 55%;
            height: 90%;

            .Left {
                display: none;
            }

            .Right {
                height: 100%;
                width: 100%;
                padding: 20px;
            }
        }
    }

    @media screen and (max-width: 600px) {
        .Container {
            min-width: 100%;
            min-height: 100%;

            .Right {
                padding: 20px;
            }
        }
    }
}